.fuse_hidden*
.*.swo
.*.swp
*.o
*.pdb
*.a
*.so
*.so.*
*.lib
*.i
*.d
*.plist
*.pb.cc
*.pb.h
*_pb2.py
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.vscode
gccdump.s
__pycache__
*.pyc
.~*

# ---- Project-specific rules below ----

*.log
.build
_tmp_
*.tmp
core.*
tags
/c_and_cpp/native/communication_protocol
/c_and_cpp/native/ini_file
/c_and_cpp/native/ini_file_test.ini
/c_and_cpp/native/signal_handling
/c_and_cpp/native/sleeps
/c_and_cpp/native/socket_supplements
/c_and_cpp/native/string_supplements
/c_and_cpp/native/watchdog

