.fuse_hidden*
.*.swo
.*.swp
*.o
*.pdb
*.elf
*.a
*.so
*.so.*
*.lib
*.i
*.d
*.plist
*.pb.cc
*.pb.h
*_pb2.py
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.cache/
compile_commands.json
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
.vs
.vscode
gccdump.s
<stdin>.s
__pycache__
*.pyc
.~*

# ---- Project-specific rules below ----

*.log
.build
_tmp_
*.tmp
core.*
/c_and_cpp/native/ini_file_test.ini
/res/custom
/scripts/private
/vim/private

