.fuse_hidden*
.*.swo
.*.swp
*.o
*.pdb
*.a
*.so
*.so.*
*.lib
*.i
*.d
*.plist
*.pb.cc
*.pb.h
*_pb2.py
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.vscode
gccdump.s
__pycache__
*.pyc

# ---- Project-specific rules below ----

*.log
.build
_tmp_
*.tmp
core.*
tags
/c/native/simple_ini_config
/c/native/simple_ini_config_test.ini

